.hero {
    background-image: url('/img/hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;

    &__heading {
        margin: 12.5rem 0 3.75rem 0;
        font-size: 6.25rem;
        color: #fff;
    }
}