$color-text: #402B2B;

$color-primary: #EE4D47;

$color-green: #3CAC54;
$color-grey: #3C3C3C;

$font-family: "Rubik", Times;
$font-family-heading: "DM Serif Display", sans-serif;

$color-burger: $color-primary;
$width-burger-line: 20px;
$height-burger-line: 2px;
$margin-burger-line: 5px;
$radius-burger-line: 0;
$transform-y-burger-line: $margin-burger-line + $height-burger-line;

$background-color-overlay: #fff;